        <div class="panel-heading category-header debit">
          <div class="panel-icon">
            <a role="button" data-collapse="#panel3" title="collapse" class="white">
              <%= fa_icon "caret-down" %>
            </a>
          </div>
          <div class="panel-actions">
            <a role="button" data-expand="#panel3" title="expand" class="btn btn-sm btn-icon">
              <%= fa_icon "expand" %>
            </a>
          </div><!-- /panel-actions -->
          <h3 class="panel-title">Despesas</h3>
        </div><!-- /panel-heading -->
        <div class="panel-body category-body" style="display: block;">

          <% for z in (1..2) %>
              <div id="panel<%= z %>2" class="panel category panel-default magic-element isotope-item" style="transform: translate3d(0px, 0px, 0px);">
                <%= render partial: 'welcome/debit_child_category', locals: {z: z, name: 'Categoria'} %>
                <div class="panel-body category-body" style="display: block;">
                  <% for j in (1..2) %>
                      <%= render partial: 'welcome/entry', locals: {j: j} %>
                  <% end %>
                </div><!-- /panel-body -->
              </div>
          <% end %>
        </div><!-- /panel-body -->