<% modal ||= false %>
<% remote = modal ? true : false %>
<% @tag ||= tag %>
<%= form_for @tag, remote: remote, class: "form-horizontal", role: "form", data: {model: "tag"}  do |f| %>

  <% if @tag.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@tag.errors.count, "error") %> prohibited this tag from being saved:</h2>

      <ul>
      <% @tag.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>" />
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
      <h4 class="modal-title">Nova Tag</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <div class="input-group">
          <%= f.text_field :name, class: "form-control", placeholder: "Nome" %>
          <span class="input-group-btn">
            <%= f.submit "Adicionar", class: "btn btn-success" %>
          </span>
        </div>
        <span class="help-block"></span>
      </div>
    </div>
<% end %>
