        <div class="panel-heading category-header <%= positive ? 'credit' : 'debit' %>">
          <div class="panel-icon">
            <a role="button" data-collapse="#panel<%= positive ? 1 : 2 %>" title="collapse" class="white">
              <%= fa_icon "caret-down" %>
            </a>
          </div>
          <div class="panel-actions child-category">
            <h6 class="money-value">$ 1.700,00</h6>
          </div><!-- /panel-actions -->
          <h3 class="panel-title"><%= positive ? 'Receitas' : 'Despesas' %></h3>
        </div><!-- /panel-heading -->
        <div class="panel-body category-body" style="display: block;">
          <div id="panel<%= "#{positive ? 1 : 2}" %>" class="panel category panel-default magic-element isotope-item" style="transform: translate3d(0px, 0px, 0px);">
            <% categories.each do |category| %>
                <%= render partial: 'financial_control/child_category',
                           locals: {entry_details: entry_details.in_category(category),
                                    category: category, positive: positive} %>
            <% end %>
          </div>
        </div><!-- /panel-body -->